@media (max-width:1024px){
    .center{
        padding-left: calc(50% - 786px/2);
        padding-right: calc(50% - 786px/2);
    }
    .for{
        &__item{
            height: 268px;
        }
    }
    .product-content{
        column-gap:29px;
        row-gap:39px;
    }

    .footer__logo{
        display: none;
    }
    .cart{
        grid-template-columns: repeat(8, 1fr);
        gap:0;
        &__buttons{
            order:1;
            margin-bottom: 64px;
        }
        &__form{
            order:2;
        }
    }
}

@media (min-width:768px) and (max-width:833px){
    .center{
        padding-left: 24px;
        padding-right: 24px;
    }
    .product{
        width: 345px;
    }
}